<%- include("partials/header.ejs") -%>

  <div class="container">
    <center><br><br>
      <% if(username) { %>
        <img style="width:100px; height:100px; border-radius:50%;" src="/uploads/<%= imgname %>" /><br><br>
        <form action="/addimg" method="POST" enctype="multipart/form-data">
          <div class="file-field input-field">
            <input type="file" name="myImage" style="border: solid 1.5px; border-radius: 2.5px;"><br><br>
          </div>
          <button type="submit" class="btn btn-info">Submit</button>
        </form><br><br>
        <form action="/rename" method="POST">
          <label>Username</label><br>
          <input type="text" name="username" value="<%=username%>"><br><br>
          <label>Bio</label><br>
          <input type="text" name="bio" value="<%= bio %>"><br><br>
          <button type="submit" class="btn btn-info">Submit</button>
        </form>
          <% } %>
    </center><br><br><br>
  </div>

  <%- include("partials/footer.ejs") -%>