<%- include("partials/header.ejs") -%>

<center><br><br>

    <h3 class="display-3"  style="color: #DA1C5C;">Your Posts</h3>
    <hr style="width: 65%;"><br><br>
<% for( let i = posts.length-1; i >= 0; i-- ) { %>
    <div style="width: 75%;" class="card bg-<%= posts[i].postcolor %>">
        <div class="card-header">
            <img style="width: 30px; height: 30px; border-radius: 50%;"
                src="/uploads/<%= posts[i].postimgname %>">&nbsp;
            <p class="text">
                <%= posts[i].postusername %>
            </p>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <%= posts[i].title %>
            </h5>
            <p class="caard-text">
                <%= posts[i].content %>
            </p>
        </div>
    </div><br>
<% } %>
</center>

<%- include("partials/footer.ejs") -%>